<div class="mycontainer">
<header class="header">
  <img src="/images/226066.webp" alt="coforge logo">
  <h1><span class="orange">C<span class="split-o">o</span></span>forge Technologies</h1>
</header>
<nav class="mynav">
  <ul>
    <li><a routerLink="/" >Home</a></li>
    <li><a routerLink="/emp" >Data Binding</a></li>
    <li><a routerLink="/pipes">Pipes</a></li>

    <li class="dropdown">
      <span>Forms</span>
      <ul class="dropdown-menu">
        <li><a routerLink="/contact">Template form</a></li>
        <li><a routerLink="/trainee">Two-way Data Binding</a></li>
        <li><a routerLink="/auth">Reactive Forms</a></li>
      </ul>
    </li>
    <li><a routerLink="/about" >About us</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/team">Team</a></li>
    <li><a routerLink="/parent">Communication</a></li>
  </ul>
</nav>
<main class="main-content">
  <!-- The ROuted views render in the <router-outlet>-->
    <!--displays child components - SPA -->
  <router-outlet></router-outlet>
</main>
<footer class="myfooter">
  <p>&copy; 2024 Coforge Ltd.</p>
</footer>
</div>